<div class="ourStore">
    <span> Welcome to our Online shop where you can find everyting that you need for your home.
        In our store ypu can find the best food with comfortable prices.
        You can shope whenever and wherever you like.
        So let's start shopping!

    </span>

</div>
<div>
    <img class="storePic"
        src="https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/styles/simple_image/public/images/media/images/google-shopping-feed-ecommerce-final.jpg?s62EBQOnC4qV09Acw1HbgMps0o9l4Q0D&itok=yderrDik">
</div>