<mat-toolbar color="primary">
    <mat-icon>home</mat-icon>
    <span>OnLine-Shopping</span>

    <div class="contact">Contact Us: 03-9153456</div>

</mat-toolbar>

<div>

    <mat-grid-list cols="3" height="100%" gutterSize="10px">
        <mat-grid-tile>
            <app-login></app-login>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-our-store></app-our-store>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-main-page-information></app-main-page-information>
        </mat-grid-tile>

    </mat-grid-list>
</div>